<?xml version="1.0" ?>
<robot name="opendog_nostand" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Configuration of Robot Links-->  

<xacro:include filename="$(find opendog_nostand_description)/urdf/opendog_nostand_links.xacro" />

<!-- Configuration of Robot Joints-->  

<xacro:include filename="$(find opendog_nostand_description)/urdf/opendog_nostand_joints.xacro" />

<!-- Configuration of Ros2_control-->  

<xacro:include filename="$(find opendog_nostand_description)/urdf/opendog_nostand_ros2_control_plugin.xacro" />

<!-- Other Configurations-->

<xacro:include filename="$(find opendog_nostand_description)/urdf/materials.xacro" />
<xacro:include filename="$(find opendog_nostand_description)/urdf/opendog_nostand.trans" />
<xacro:include filename="$(find opendog_nostand_description)/urdf/opendog_nostand.gazebo" />

</robot>
