<?xml version="1.0" ?>
<robot name="opendog_nostand" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Joints -->

<joint name="fixed_to_world_joint" type="fixed">
  <origin xyz="0 0 0" rpy="0 0 0"/>
  <parent link="world"/>
  <child link="base_link"/>
</joint>

<joint name="ur_shoulder_to_base_link" type="revolute">
  <origin xyz="0.120789 -0.018307 0.263166" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="ur_shoulder_1"/>
  <axis xyz="1.0 -0.0 0.0"/>
  <limit upper="0.349066" lower="-0.349066" effort="100" velocity="100"/>
</joint>

<joint name="ur_upperleg_to_shoulder" type="continuous">
  <origin xyz="-0.09964 0.066296 0.002902" rpy="0 0 0"/>
  <parent link="ur_shoulder_1"/>
  <child link="ur_middleleg_1"/>
  <axis xyz="-0.0 -0.999043 -0.043739"/>
</joint>

<joint name="ul_shoulder_to_base_link" type="revolute">
  <origin xyz="0.120789 -0.136588 0.263166" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="ul_shoulder_1"/>
  <axis xyz="-1.0 0.0 -0.0"/>
  <limit upper="0.349066" lower="-0.785398" effort="100" velocity="100"/>
</joint>

<joint name="ul_upperleg_to_shoulder" type="continuous">
  <origin xyz="-0.09964 -0.06636 2.8e-05" rpy="0 0 0"/>
  <parent link="ul_shoulder_1"/>
  <child link="ul_middleleg_1"/>
  <axis xyz="-0.0 -1.0 0.000428"/>
</joint>

<joint name="ll_hip_to_base_link" type="revolute">
  <origin xyz="0.468789 -0.136588 0.263166" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="ll_hip_1"/>
  <axis xyz="-1.0 0.0 0.0"/>
  <limit upper="0.436332" lower="-0.785398" effort="100" velocity="100"/>
</joint>

<joint name="ll_upperleg_to_hip" type="continuous">
  <origin xyz="0.09964 -0.06636 0.0" rpy="0 0 0"/>
  <parent link="ll_hip_1"/>
  <child link="ll_middleleg_1"/>
  <axis xyz="0.0 1.0 -0.0"/>
</joint>

<joint name="lr_hip_to_base_link" type="revolute">
  <origin xyz="0.468789 -0.018307 0.263166" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="lr_hip_1"/>
  <axis xyz="1.0 -0.0 -0.0"/>
  <limit upper="0.349066" lower="-0.785398" effort="100" velocity="100"/>
</joint>

<joint name="lr_upperleg_to_hip" type="continuous">
  <origin xyz="0.09964 0.066359 0.000186" rpy="0 0 0"/>
  <parent link="lr_hip_1"/>
  <child link="lr_middleleg_1"/>
  <axis xyz="0.0 0.999996 0.002806"/>
</joint>

<joint name="lr_lowerleg_to_upperleg" type="continuous">
  <origin xyz="-0.139215 0.0824 -0.14247" rpy="0 0 0"/>
  <parent link="lr_middleleg_1"/>
  <child link="lr_lowerleg_2"/>
  <axis xyz="0.0 0.999996 0.002806"/>
</joint>

<joint name="ll_lowerleg_to_upperleg" type="continuous">
  <origin xyz="-0.140969 -0.082 -0.140969" rpy="0 0 0"/>
  <parent link="ll_middleleg_1"/>
  <child link="ll_lowerLeg_1"/>
  <axis xyz="0.0 1.0 -0.0"/>
</joint>

<joint name="ul_lowerleg_to_upperleg" type="continuous">
  <origin xyz="0.164113 -0.082048 -0.113151" rpy="0 0 0"/>
  <parent link="ul_middleleg_1"/>
  <child link="ul_lowerleg_1"/>
  <axis xyz="-0.0 -1.0 0.000428"/>
</joint>

<joint name="ur_lowerleg_to_upperleg" type="continuous">
  <origin xyz="0.143094 0.087993 -0.135091" rpy="0 0 0"/>
  <parent link="ur_middleleg_1"/>
  <child link="ur_lowerleg_1"/>
  <axis xyz="-0.0 -0.999043 -0.043739"/>
</joint>
</robot>
