<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="consts.xacro" />
  <xacro:include filename="physics.xacro" />


  <!-- load meshes -->
  <xacro:macro name="body_mesh">
    <mesh filename="file://$(find opendog_description)/meshes/body.stl" scale="0.001 0.001 0.001"/>
  </xacro:macro>
  <xacro:macro name="rightHip_mesh">
    <mesh filename="file://$(find opendog_description)/meshes/RIGHT_HIP.stl" scale="0.001 0.001 0.001"/>
  </xacro:macro>
  <xacro:macro name="leftHip_mesh">
    <mesh filename="file://$(find opendog_description)/meshes/LEFT_HIP.stl" scale="0.001 0.001 0.001"/>
  </xacro:macro>
  <xacro:macro name="rightUleg_mesh">
    <mesh filename="file://$(find opendog_description)/meshes/RIGHT_ULEG.stl" scale="0.001 0.001 0.001"/>
  </xacro:macro>
  <xacro:macro name="leftUleg_mesh">
    <mesh filename="file://$(find opendog_description)/meshes/LEFT_ULEG.stl" scale="0.001 0.001 0.001"/>
  </xacro:macro>
  <xacro:macro name="lleg_mesh">
    <mesh filename="file://$(find opendog_description)/meshes/LLEG.stl" scale="0.001 0.001 0.001"/>
  </xacro:macro>

  <!-- *********** Inertial link *********** -->
  <link name="world">
  </link>


  <!-- *********** base link *********** -->
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 ${base_link_height/2}" rpy="0 ${M_PI/2} 0"/>
      <mass value="${body_mass}"/>
      <inertia ixx="${(1/12) * body_mass * (base_link_depth * base_link_depth + base_link_width * base_link_width ) }" iyy="${(1/12) * body_mass * (base_link_depth * base_link_depth + base_link_height * base_link_height ) }" izz="${(1/12) * body_mass * (base_link_width * base_link_width + base_link_height * base_link_height ) }" ixy="0.0" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 ${base_link_height/2}" rpy="0 0 0"/>
      <geometry>
        <box size="${base_link_depth} ${base_link_width} ${base_link_height}"/>
      </geometry>

    </visual>
    <collision>
      <origin xyz="0 0 ${base_link_height/2}" rpy="0 0 0"/>
      <geometry>
        <box size="${base_link_depth} ${base_link_width} ${base_link_height}"/>
      </geometry>
    </collision>
  </link>


  <!-- !!!!!!!!!!!!!!!!!!!!!!! HIPS !!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

  <!-- *********** FR_hip *********** -->
  <link name="FR_hip_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="${M_PI/2} ${M_PI/2} 0"/>
      <mass value="${hip_mass}"/>
      <inertia ixx="${(1/12) * hip_mass * (3 * hip_link_radius * hip_link_radius + hip_link_length * hip_link_length) }" 
                iyy="${(1/12) * hip_mass * (3 * hip_link_radius * hip_link_radius) }" 
                izz="${(1/12) * hip_mass * (3 * hip_link_radius * hip_link_radius + hip_link_length * hip_link_length) }" 
                ixy="0.0" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 ${M_PI/2} 0"/>
      <geometry>
        <cylinder radius="${hip_link_radius}" length="${hip_link_length}"/>
      </geometry>

    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 ${M_PI/2}  0"/>
      <geometry>
        <cylinder radius="${hip_link_radius}" length="${hip_link_length}"/>
      </geometry>
    </collision>
  </link>
  <!-- *********** FL_hip ********** -->
  <link name="FL_hip_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="${M_PI/2} ${M_PI/2} 0"/>
      <mass value="${hip_mass}"/>
      <inertia ixx="${(1/12) * hip_mass * (3 * hip_link_radius * hip_link_radius + hip_link_length * hip_link_length) }" 
                iyy="${(1/12) * hip_mass * (3 * hip_link_radius * hip_link_radius) }" 
                izz="${(1/12) * hip_mass * (3 * hip_link_radius * hip_link_radius + hip_link_length * hip_link_length) }" 
                ixy="0.0" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 ${M_PI/2} 0"/>
      <geometry>
        <cylinder radius="${hip_link_radius}" length="${hip_link_length}"/>
      </geometry>

    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 ${M_PI/2}  0"/>
      <geometry>
        <cylinder radius="${hip_link_radius}" length="${hip_link_length}"/>
      </geometry>
    </collision>
  </link>
  <!-- *********** BR_hip ********** -->
  <link name="BR_hip_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="${M_PI/2} ${M_PI/2} 0"/>
      <mass value="${hip_mass}"/>
      <inertia ixx="${(1/12) * hip_mass * (3 * hip_link_radius * hip_link_radius + hip_link_length * hip_link_length) }" 
                iyy="${(1/12) * hip_mass * (3 * hip_link_radius * hip_link_radius) }" 
                izz="${(1/12) * hip_mass * (3 * hip_link_radius * hip_link_radius + hip_link_length * hip_link_length) }" 
                ixy="0.0" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 ${M_PI/2} 0"/>
      <geometry>
        <cylinder radius="${hip_link_radius}" length="${hip_link_length}"/>
      </geometry>

    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 ${M_PI/2}  0"/>
      <geometry>
        <cylinder radius="${hip_link_radius}" length="${hip_link_length}"/>
      </geometry>
    </collision>
  </link>
  <!-- *********** BL_hip ********** -->
  <link name="BL_hip_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="${M_PI/2} ${M_PI/2} 0"/>
      <mass value="${hip_mass}"/>
      <inertia ixx="${(1/12) * hip_mass * (3 * hip_link_radius * hip_link_radius + hip_link_length * hip_link_length) }" 
                iyy="${(1/12) * hip_mass * (3 * hip_link_radius * hip_link_radius) }" 
                izz="${(1/12) * hip_mass * (3 * hip_link_radius * hip_link_radius + hip_link_length * hip_link_length) }" 
                ixy="0.0" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 ${M_PI/2} 0"/>
      <geometry>
        <cylinder radius="${hip_link_radius}" length="${hip_link_length}"/>
      </geometry>

    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 ${M_PI/2}  0"/>
      <geometry>
        <cylinder radius="${hip_link_radius}" length="${hip_link_length}"/>
      </geometry>
    </collision>
  </link>


  <!-- !!!!!!!!!!!!!!!!!!!!!!! ULEGs !!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

  <!-- *********** FR_uleg ********** -->
  <link name="FR_uleg_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="${M_PI/2} 0  0"/>
      <mass value="${uleg_mass}"/>
      <inertia ixx="${(1/12) * uleg_mass * (3 * hip_link_radius * hip_link_radius + hip_link_length * hip_link_length) }" 
                iyy="${(1/12) * uleg_mass * (3 * hip_link_radius * hip_link_radius) }" 
                izz="${(1/12) * uleg_mass * (3 * hip_link_radius * hip_link_radius + hip_link_length * hip_link_length) }" 
                ixy="0.0" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${uleg_link_radius}" length="${uleg_link_length}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${uleg_link_radius}" length="${uleg_link_length}"/>
      </geometry>
    </collision>
  </link>
  <!-- *********** FL_uleg ********** -->
  <link name="FL_uleg_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="${M_PI/2} 0  0"/>
      <mass value="${uleg_mass}"/>
      <inertia ixx="${(1/12) * uleg_mass * (3 * hip_link_radius * hip_link_radius + uleg_link_length * uleg_link_length) }" 
                iyy="${(1/12) * uleg_mass * (3 * hip_link_radius * hip_link_radius) }" 
                izz="${(1/12) * uleg_mass * (3 * hip_link_radius * hip_link_radius + uleg_link_length * uleg_link_length) }" 
                ixy="0.0" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${uleg_link_radius}" length="${uleg_link_length}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${uleg_link_radius}" length="${uleg_link_length}"/>
      </geometry>
    </collision>
  </link>
  <!-- *********** BR_uleg ********** -->
  <link name="BR_uleg_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="${M_PI/2} 0  0"/>
      <mass value="${uleg_mass}"/>
      <inertia ixx="${(1/12) * uleg_mass * (3 * hip_link_radius * hip_link_radius + hip_link_length * hip_link_length) }" 
                iyy="${(1/12) * uleg_mass * (3 * hip_link_radius * hip_link_radius) }" 
                izz="${(1/12) * uleg_mass * (3 * hip_link_radius * hip_link_radius + hip_link_length * hip_link_length) }" 
                ixy="0.0" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${uleg_link_radius}" length="${uleg_link_length}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${uleg_link_radius}" length="${uleg_link_length}"/>
      </geometry>
    </collision>
  </link>
  <!-- *********** BL_uleg ********** -->
  <link name="BL_uleg_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="${M_PI/2} 0  0"/>
      <mass value="${uleg_mass}"/>
      <inertia ixx="${(1/12) * uleg_mass * (3 * hip_link_radius * hip_link_radius + hip_link_length * hip_link_length) }" 
                iyy="${(1/12) * uleg_mass * (3 * hip_link_radius * hip_link_radius) }" 
                izz="${(1/12) * uleg_mass * (3 * hip_link_radius * hip_link_radius + hip_link_length * hip_link_length) }" 
                ixy="0.0" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${uleg_link_radius}" length="${uleg_link_length}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${uleg_link_radius}" length="${uleg_link_length}"/>
      </geometry>
    </collision>
  </link>


  <!-- !!!!!!!!!!!!!!!!!!!!!!! LLEGs !!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

  <!-- *********** FR_lleg ********** -->
  <link name="FR_lleg_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="${M_PI/2} 0  0"/>
      <mass value="${lleg_mass}"/>
      <inertia ixx="${(1/12) * lleg_mass * (3 * lleg_link_radius * lleg_link_radius + lleg_link_length * lleg_link_length) }" 
                iyy="${(1/12) * lleg_mass * (3 * lleg_link_radius * lleg_link_radius) }" 
                izz="${(1/12) * lleg_mass * (3 * lleg_link_radius * lleg_link_radius + lleg_link_length * lleg_link_length) }" 
                ixy="0.0" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${lleg_link_radius}" length="${lleg_link_length}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${lleg_link_radius}" length="${lleg_link_length}"/>
      </geometry>
    </collision>
  </link>
  <!-- *********** FL_lleg ********** -->
  <link name="FL_lleg_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="${M_PI/2} 0  0"/>
      <mass value="${lleg_mass}"/>
      <inertia ixx="${(1/12) * lleg_mass * (3 * lleg_link_radius * lleg_link_radius + lleg_link_length * lleg_link_length) }" 
                iyy="${(1/12) * lleg_mass * (3 * lleg_link_radius * lleg_link_radius) }" 
                izz="${(1/12) * lleg_mass * (3 * lleg_link_radius * lleg_link_radius + lleg_link_length * lleg_link_length) }" 
                ixy="0.0" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${lleg_link_radius}" length="${lleg_link_length}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${lleg_link_radius}" length="${lleg_link_length}"/>
      </geometry>
    </collision>
  </link>
  <!-- *********** BR_lleg ********** -->
  <link name="BR_lleg_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="${M_PI/2} 0  0"/>
      <mass value="${lleg_mass}"/>
      <inertia ixx="${(1/12) * lleg_mass * (3 * lleg_link_radius * lleg_link_radius + lleg_link_length * lleg_link_length) }" 
                iyy="${(1/12) * lleg_mass * (3 * lleg_link_radius * lleg_link_radius) }" 
                izz="${(1/12) * lleg_mass * (3 * lleg_link_radius * lleg_link_radius + lleg_link_length * lleg_link_length) }" 
                ixy="0.0" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${lleg_link_radius}" length="${lleg_link_length}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${lleg_link_radius}" length="${lleg_link_length}"/>
      </geometry>
    </collision>
  </link>
  <!-- *********** BL_lleg ********** -->
  <link name="BL_lleg_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="${M_PI/2} 0  0"/>
      <mass value="${lleg_mass}"/>
      <inertia ixx="${(1/12) * lleg_mass * (3 * lleg_link_radius * lleg_link_radius + lleg_link_length * lleg_link_length) }" 
                iyy="${(1/12) * lleg_mass * (3 * lleg_link_radius * lleg_link_radius) }" 
                izz="${(1/12) * lleg_mass * (3 * lleg_link_radius * lleg_link_radius + lleg_link_length * lleg_link_length) }" 
                ixy="0.0" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${lleg_link_radius}" length="${lleg_link_length}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${lleg_link_radius}" length="${lleg_link_length}"/>
      </geometry>
    </collision>
  </link>

</robot>
