<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="opendog_ros2_control" params="name">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>odrive_hardware_interface/ODriveHardwareInterface</plugin>
      </hardware>

      <!-- ODrive 0 -->
      <sensor name="odrv0">
        <param name="serial_number">335536633539</param>
      </sensor>
      <joint name="BR_uleg_joint">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="serial_number">335536633539</param>
        <param name="axis">0</param>
        <param name="enable_watchdog">0</param>
        <param name="watchdog_timeout">0.1</param>
      </joint>
      <joint name="BR_lleg_joint">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="serial_number">335536633539</param>
        <param name="axis">1</param>
        <param name="enable_watchdog">0</param>
        <param name="watchdog_timeout">0.1</param>
      </joint>

      <!-- ODrive 1 -->
      <sensor name="odrv1">
        <param name="serial_number">335836543539</param>
      </sensor>
      <joint name="FL_uleg_joint">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="serial_number">335836543539</param>
        <param name="axis">0</param>
        <param name="enable_watchdog">0</param>
        <param name="watchdog_timeout">0.1</param>
      </joint>
      <joint name="FL_lleg_joint">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="serial_number">335836543539</param>
        <param name="axis">1</param>
        <param name="enable_watchdog">0</param>
        <param name="watchdog_timeout">0.1</param>
      </joint>

      <!-- ODrive 2 -->
      <sensor name="odrv2">
        <param name="serial_number">3359366C3539</param>
      </sensor>
      <joint name="FL_hip_joint">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="serial_number">3359366C3539</param>
        <param name="axis">0</param>
        <param name="enable_watchdog">0</param>
        <param name="watchdog_timeout">0.1</param>
      </joint>
      <joint name="FR_hip_joint">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="serial_number">3359366C3539</param>
        <param name="axis">1</param>
        <param name="enable_watchdog">0</param>
        <param name="watchdog_timeout">0.1</param>
      </joint>

      <!-- ODrive 3 -->
      <sensor name="odrv3">
        <param name="serial_number">3359366F3539</param>
      </sensor>
      <joint name="BL_uleg_joint">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="serial_number">3359366F3539</param>
        <param name="axis">0</param>
        <param name="enable_watchdog">0</param>
        <param name="watchdog_timeout">0.1</param>
      </joint>
      <joint name="BL_lleg_joint">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="serial_number">3359366F3539</param>
        <param name="axis">1</param>
        <param name="enable_watchdog">0</param>
        <param name="watchdog_timeout">0.1</param>
      </joint>

      <!-- ODrive 4 -->
      <sensor name="odrv4">
        <param name="serial_number">335436563539</param>
      </sensor>
      <joint name="FR_uleg_joint">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="serial_number">335436563539</param>
        <param name="axis">0</param>
        <param name="enable_watchdog">0</param>
        <param name="watchdog_timeout">0.1</param>
      </joint>
      <joint name="FR_lleg_joint">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="serial_number">335436563539</param>
        <param name="axis">1</param>
        <param name="enable_watchdog">0</param>
        <param name="watchdog_timeout">0.1</param>
      </joint>

      <!-- ODrive 5 -->
      <sensor name="odrv5">
        <param name="serial_number">3673385F3030</param>
      </sensor>
      <joint name="BR_hip_joint">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="serial_number">3673385F3030</param>
        <param name="axis">0</param>
        <param name="enable_watchdog">0</param>
        <param name="watchdog_timeout">0.1</param>
      </joint>
      <joint name="BL_hip_joint">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="serial_number">3673385F3030</param>
        <param name="axis">1</param>
        <param name="enable_watchdog">0</param>
        <param name="watchdog_timeout">0.1</param>
      </joint>

    </ros2_control>

    

  </xacro:macro>

</robot>
