<?xml version="1.0" ?>
<robot name="opendog_nostand" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ========================================= -->
  <!--     ARGUMENTS DE CONFIGURATION           -->
  <!-- ========================================= -->
  
  <!-- Choix du type d'interface hardware -->
  <xacro:arg name="use_can" default="false"/>
  <xacro:arg name="use_gazebo" default="false"/>

  <!-- ========================================= -->
  <!--     DESCRIPTION MÉCANIQUE (TOUJOURS)     -->
  <!-- ========================================= -->
  
  <!-- Configuration of Robot Links-->  

  <!-- Configuration of Robot Joints -->
    <xacro:include filename="$(find opendog_description)/urdf/opendog_stand_links.xacro"/> 
  <xacro:include filename="$(find opendog_description)/urdf/opendog_stand_joints.xacro"/>
  <xacro:include filename="$(find opendog_description)/urdf/opendog_links.xacro"/>
  <xacro:include filename="$(find opendog_description)/urdf/opendog_joints.xacro"/>

  <!-- Other Configurations -->
  <xacro:include filename="$(find opendog_description)/urdf/materials.xacro"/>
  <xacro:include filename="$(find opendog_description)/urdf/opendog.trans"/>

  <!-- ========================================= -->
  <!--     HARDWARE INTERFACE (CONDITIONNEL)    -->
  <!-- ========================================= -->

  <!-- En mode gazebo, ne jamais charger l'interface hardware reelle (USB/CAN) -->
<xacro:unless value="$(arg use_gazebo)">
  <!-- Choix entre USB et CAN -->
  <xacro:if value="$(arg use_can)">
    <!-- MODE CAN -->
    <xacro:include filename="$(find opendog_hardware_layer_can)/urdf/opendog_ros2_control_can.xacro"/>
    <xacro:opendog_ros2_control_can name="opendog_hw"/>
  </xacro:if>

  <xacro:unless value="$(arg use_can)">
    <!-- MODE USB (par défaut) -->
    <xacro:include filename="$(find opendog_description)/urdf/opendog_ros2_control.xacro"/>
    <xacro:opendog_ros2_control name="opendog_hw"/>
  </xacro:unless>
</xacro:unless>

  <!-- ========================================= -->

</robot>
