<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
 
    <!-- Joint entre world et stand -->
<joint name="world_to_stand_link" type="fixed">
  <parent link="world"/>
  <child link="stand_link"/>
  <origin xyz="0 0 0.1" rpy="0 0 0"/> <!-- Centre du cylindre à 0.5m -->
</joint> 
  <!-- Joint fixe entre stand et base_link -->
<joint name="stand_to_base" type="fixed">
  <origin xyz="0 0 0.3" rpy="0 0 0"/>
  <!-- Positionné au sommet du stand (z=0.5 + 0.5 = 1m) -->
  <parent link="stand_link"/>
  <child link="base_link"/>
</joint>


 
</robot>

