<?xml version="1.0" ?>
<robot  xmlns:xacro="http://www.ros.org/wiki/xacro">


 <!-- Stand link definition -->
 <!-- World link -->
 <link name="world"/>
 <!-- Stand link -->
  
  <link name="stand_link">
  <visual>
    <geometry>
      <box size="0.5 0.5 0.2"/>
    </geometry>
    <material name="green"> <!-- Change the name to avoid conflicts -->
      <color rgba="0 0 0.8 1.0"/>
    </material>
  </visual>
  <collision>
    <geometry>
      <box size="0.5 0.5 0.2"/>
    </geometry>
  </collision>
  <inertial>
    <mass value="100"/>
    <origin xyz="0 0 0"/>
    <inertia ixx="1" iyy="1" izz="1" ixy="0" ixz="0" iyz="0"/>
  </inertial>
  </link>
    <!-- Gazebo - make the stand static so the robot doesn't "spin" in simulation -->
    <gazebo reference="stand_link">
      <static>true</static>
    </gazebo>
</robot>

