<?xml version="1.0" ?>
<robot name="opendog_stand" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Configuration of Robot Links-->  

<xacro:include filename="$(find opendog_stand_description)/urdf/opendog_stand_links.xacro" />

<!-- Configuration of Robot Joints-->  

<xacro:include filename="$(find opendog_stand_description)/urdf/opendog_stand_joints.xacro" />

<!-- Configuration of Ros2_control-->  

<xacro:include filename="$(find opendog_stand_description)/urdf/opendog_stand_ros2_control_plugin.xacro" />

<!-- Other Configurations-->

<xacro:include filename="$(find opendog_stand_description)/urdf/opendog_stand.trans" />
<xacro:include filename="$(find opendog_stand_description)/urdf/opendog_stand.gazebo" />
<xacro:include filename="$(find opendog_stand_description)/urdf/materials.xacro" />
</robot>
